[Unit]
Description=Refresh the cached Killing Floor server list

[Timer]
OnBootSec=15s
OnUnitActiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
